<div class="w-full">
  <h2 class="text-2xl font-semibold mb-5">Users Management</h2>

  <div class="bg-white rounded-lg shadow-md overflow-hidden">
    <table class="w-full table-fixed border-collapse">
      <thead>
        <tr>
          <th
            class="p-3 bg-gray-50 font-semibold text-left border-b border-gray-200"
          >
            ID
          </th>
          <th
            class="p-3 bg-gray-50 font-semibold text-left border-b border-gray-200"
          >
            Name
          </th>
          <th
            class="p-3 bg-gray-50 font-semibold text-left border-b border-gray-200"
          >
            Email
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="p-3 border-b border-gray-200 truncate w-3">
            {{ user._id }}
          </td>
          <td class="p-3 border-b border-gray-200">
            {{ user.firstName }} {{ user.lastName }}
          </td>
          <td class="p-3 border-b border-gray-200">{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
