<div class="flex flex-col min-h-screen">
  <app-header></app-header>
  <div class="flex-grow flex items-center justify-center bg-gray-50 px-4">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow">
      <h2 class="mb-6 text-center text-3xl font-extrabold text-gray-900">
        Login
      </h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="email" class="block text-base font-medium text-gray-700">
            Email address
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            required
            placeholder="you@example.com"
            class="bg-slate-200 rounded-2xl w-full my-1 p-3 shadow-md border-none"
          />
          <div
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
            class="text-red-500 text-sm mt-1"
          >
            Please enter a valid email.
          </div>
        </div>
        <div class="mb-6">
          <label
            for="password"
            class="block text-base font-medium text-gray-700"
          >
            Password
          </label>
          <input
            type="password"
            id="password"
            formControlName="password"
            required
            placeholder="••••••••"
            class="bg-slate-200 rounded-2xl w-full my-1 p-3 shadow-md border-none"
          />
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="text-red-500 text-sm mt-1"
          >
            Password must be at least 6 characters.
          </div>
        </div>
        <div class="flex justify-between items-center mb-5">
          <button
            type="submit"
            [disabled]="loginForm.invalid || (loading$ | async)"
            class="w-full py-2 px-4 bg-indigo-600 hover:bg-indigo-700 text-white rounded-2xl font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
          >
            <span *ngIf="(loading$ | async) === false">Login</span>
            <span *ngIf="loading$ | async">Loading...</span>
          </button>
        </div>
        <div
          *ngIf="error$ | async as errorMessage"
          class="text-red-500 text-sm mt-1"
        >
          {{ errorMessage }}
        </div>
      </form>
      <div class="text-center mt-5 text-sm">
        <a
          routerLink="/forgot-password"
          class="text-blue-500 no-underline hover:underline"
          >Forgot Password?</a
        >
      </div>
      <div class="text-center mt-5 text-sm">
        Don't have an account?
        <a
          routerLink="/signup"
          class="text-blue-500 no-underline hover:underline"
          >Sign up</a
        >
      </div>
    </div>
  </div>
</div>
